<div class='plate jumbotron'>
	<h1 class='brand'>Andelin's</h1>
	<h2 class='limelight'>Caramel Pecan Rolls and other Decadent Sweets</h2>
	<%= image_tag("key2.jpg", :alt => "key", class: "key img-responsive image") %>
		<div class='contact'>
			<h2>For orders or inquiries, please contact us at:</h2>
		</div>
		<div class='contact'>
			<h2>andelinscandy@gmail.com</h2>
		</div>
</div>