@import "bootstrap-sprockets";
@import "bootstrap";

/*
=====================================
custom styles
=====================================

FONTS
font-family: 'Limelight', cursive;
font-family: 'Open Sans', sans-serif;
*/

/* COLORS */
$gunmetal: #292F36;
$turquoise: #4ECDC4;
$golden_brown: #9B691F;
$gold: #E4B363;
$russet: #7A4419;
$blood: #400406;
$dark_red: #330000;
$white: #FDFFFC;

body {
	background: repeating-linear-gradient(
  	to right,
  	$blood,
  	$blood 5%,
  	$dark_red 5%,
  	$dark_red 10%
	);
	background-size: 100% 20px;
}

header {
	margin-top: 20px;
	margin-left: 20px;
}

h1 {
	font-family: 'Limelight', cursive;
	text-align: center;
	margin-top: 20px;
}

h2, h3, p {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 25px;
	margin-top: -10px;
	margin-left: 20px;
}

h3 {
	font-size: 20px;
	margin-left: 20px;
}

p {
	margin-left: 20px;
}

a {
	color: navy;
	padding: 5px;
}

a:hover {
	color: orange;
}

.limelight {
	font-family: 'Limelight', cursive;
}

.contact {
	text-align: center;
	margin-bottom: 20px;
}

.plate {
  text-align: center;
	background-color: $white;
	border: 5px solid $dark_red;
}

/*
=============================
IMAGES
=============================
*/

.key {
	display: block;
	margin: auto;
	padding-bottom: 30px;
	width: 30%
}

/*
==============================
NAV BAR
==============================
*/

/* background */
.navbar-default {
    background-color: $golden_brown;
    border-color: $dark_red;
    border-radius: 0;
		margin-top: 15px;
}

/* text */
.navbar-default .navbar-nav > li > a {
    color: $white;
}

/* box hover color */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: $gold;
}

/* no reaction - get rid of these? */

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: teal;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: orange;
    background-color: green;
}

.navbar-default .navbar-text {
    color: purple;
}

.navbar-default .navbar-toggle {
    border-color: purple;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
