<div class='navbar navbar-default'>
  <div class='container'>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Shop', shop_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </nav>
  </div>
</div>