<!DOCTYPE html>
<html>
  <head>
    <title><Andelins Candies></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 	<body>
    <link href='https://fonts.googleapis.com/css?family=Limelight|Open+Sans' rel='stylesheet'> 
		<%= render 'layouts/header' %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>

